.szde-headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

  &--size {
    &-16 {
      font-size: 16px;
    }

    &-24 {
      font-size: 24px;
    }

    &-36 {
      font-size: 36px;
    }

    &-48 {
      font-size: 48px;
    }

    &-72 {
      font-size: 72px;
    }
  }

  &--color {
    &-black {
      color: #111;
    }

    &-white {
      color: #eee;
    }

    &-darkgrey {
      color: #71737f;
    }

    &-red {
      color: #d86868;
    }
  }

  &--spacing {
    &-narrow {
      letter-spacing: -1px;
    }

    &-wide {
      letter-spacing: 2px;
    }
  }
}
